@{
    ViewData["Title"] = "Home Page";
}

<style>
    <style >
    /* Basic styling */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
       
    }

    /* Left sidebar (welcome text) */
    .sidebar {
        width: 100%;
        font-size:75px;
        background-color:antiquewhite;
        padding: 20px;
    }

    /* Right content area */
    .content {
        flex: 1;
        padding: 20px;
       

    }

    /* Example welcome text styles */
    h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 25px;
        margin-bottom: 10px;
        background-color:antiquewhite;
        text-align:center;
    }

    p {
        font-size: 19px;
        color: #555;
    }

    .image-container {
        display: flex;
        justify-content: space-between;
    }

        .image-container img {
            width: 300px;
            height: 300px;
        }
</style>

<html>
<head>
    <title>Welcome to KhumaloCraft Emporium</title>
    
</head>
<body>
    <div class="sidebar">
        <h1>Welcome to KhumaloCraft Emporium</h1>
        
        <p>KhumaloCraft Emporium is a global e-commerce platform dedicated to showcasing handcrafted products from artisans worldwide. We believe in the value of supporting global artisans and preserving traditional crafts.</p>
    </div>
    <br/>
    <br/>
    <div class="image-container">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQU1imHx-Su0Bcw8RFSTMyOcsxij5KraEiTLo--MBhlentSIzmBzR0PY0-B8oQlYRI8In8&usqp=CAU">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEK8DyBBqbJTMr_h3HrJ_QB5Rk5kYXozsXJA&usqp=CAU">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpKPU_HsocZQ-YC9q9xaThmXjmjGbxnvt5clipY5vHhMAzbRyAAkdQBEBixNG5C5jEsE0&usqp=CAU">
    </div>
    <div class="content">
        <!-- Add your images and additional content here -->
        
        <br />
        <br />
        <h2>Meet the Artisans</h2>
        <br/>
        <p>Our platform represents a diverse group of artisans from around the world. Each artisan has a unique story and craft to share.</p>
    </div>
</body>
</html>